.swiper-pagination-bullet-active {
    background-color: #264b77 !important;
  }
  
  .swiper-wrapper {
   
    display: flex !important;
    align-items: center !important;
  }
  
  .swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .swiper-pagination-bullet {
    width: 10px !important; 
    height: 10px !important;
  }
  
  .swiper-button-next {
    color: #264b77 !important; 
  }
  
  .swiper-button-prev {
    color: #264b77 !important;
  }
  
  .swiper-button-disabled {
    color: #264b77 !important;
    opacity: 0.3 !important;
  }
  
  @media screen and (max-width: 640px) {
    .swiper-button-next {
      display: none !important;
    }
  
    .swiper-button-prev {
      display: none !important;
    }
  }
  